#root {
  margin: 0 auto;
  padding: 0em 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-evenly;
  overflow: auto;
  max-width: 100vw;
  min-height: 100vh;

  @media (min-width: 1368px) {
    padding: 0 10vmax;
  }
}
